@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola Soy Atila</h1>
    <p>En la parte superior se encuentra la opcion para llegar al listado de empleados o clickear aca --> <a asp-controller="Empleado">Listado de empleados</a>.</p>
</div>

